In [17]:
import pandas as pd

In [18]:
df= pd.read_csv('musical_data.csv')

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Performance_Name  10000 non-null  object
 1   Venue             10000 non-null  object
 2   Genre             10000 non-null  object
 3   Final_Price       10000 non-null  float64
 4   Member_Grade      10000 non-null  object
 5   Age_Group         10000 non-null  object
 6   Gender            10000 non-null  object
 7   Region            10000 non-null  object
 8   Year              10000 non-null  int64
 9   Month             10000 non-null  int64
dtypes: float64(1), int64(2), object(7)
memory usage: 781.4+ KB

In [20]:
df.head()

,Performance_Name,Venue,Genre,Final_Price,Member_Grade,Age_Group,Gender,Region,Year,Month
0,잃어버린 얼굴 1895,CJ 토월극장,뮤지컬,48000.0,무료,30대,F,서울,2022,3
1,뮤지컬 < 베토벤; Beethoven Secret >,오페라극장,뮤지컬,80000.0,무료,50대,F,경기,2023,2
2,뮤지컬 데스노트 (The Musical Death Note),오페라극장,뮤지컬,150000.0,그린,20대,F,전북,2022,7
3,뮤지컬 데스노트 (The Musical Death Note),오페라극장,뮤지컬,70000.0,그린,40대,F,인천,2022,7
4,뮤지컬 라이온 킹 인터내셔널 투어 - 서울,오페라극장,뮤지컬,171000.0,그린,30대,F,서울,2022,2