In [2]:
import pandas as pd

In [3]:
df= pd.read_csv('musical_data.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Performance_Name  10000 non-null  object
 1   Venue             10000 non-null  object
 2   Genre             10000 non-null  object
 3   Final_Price       10000 non-null  float64
 4   Member_Grade      10000 non-null  object
 5   Age_Group         10000 non-null  object
 6   Gender            10000 non-null  object
 7   Region            10000 non-null  object
 8   Year              10000 non-null  int64
 9   Month             10000 non-null  int64
dtypes: float64(1), int64(2), object(7)
memory usage: 781.4+ KB

In [5]:
df.head()

,Performance_Name,Venue,Genre,Final_Price,Member_Grade,Age_Group,Gender,Region,Year,Month
0,잃어버린 얼굴 1895,CJ 토월극장,뮤지컬,48000.0,무료,30대,F,서울,2022,3
1,뮤지컬 < 베토벤; Beethoven Secret >,오페라극장,뮤지컬,80000.0,무료,50대,F,경기,2023,2
2,뮤지컬 데스노트 (The Musical Death Note),오페라극장,뮤지컬,150000.0,그린,20대,F,전북,2022,7
3,뮤지컬 데스노트 (The Musical Death Note),오페라극장,뮤지컬,70000.0,그린,40대,F,인천,2022,7
4,뮤지컬 라이온 킹 인터내셔널 투어 - 서울,오페라극장,뮤지컬,171000.0,그린,30대,F,서울,2022,2

In [12]:
feature_df = df.drop(columns=['Performance_Name', 'Final_Price','Year','Month'], axis =1)
feature_df

        Venue Genre Member_Grade Age_Group Gender Region
0     CJ 토월극장   뮤지컬           무료       30대      F     서울
1       오페라극장   뮤지컬           무료       50대      F     경기
2       오페라극장   뮤지컬           그린       20대      F     전북
3       오페라극장   뮤지컬           그린       40대      F     인천
4       오페라극장   뮤지컬           그린       30대      F     서울
...       ...   ...          ...       ...    ...    ...
9995    오페라극장   뮤지컬           골드       50대      M     서울
9996    오페라극장   뮤지컬           그린       30대      F     경기
9997    오페라극장   뮤지컬           골드       50대      F     서울
9998    오페라극장   뮤지컬           무료       40대      M     경기
9999    오페라극장   뮤지컬           골드     70대이상      F     서울

[10000 rows x 6 columns]

In [13]:
pd.get_dummies(feature_df)

,Venue_CJ 토월극장,Venue_IBK챔버홀,Venue_오페라극장,Venue_자유소극장,Venue_콘서트홀,Genre_뮤지컬,Member_Grade_골드,Member_Grade_그린,Member_Grade_노블,Member_Grade_무료,...,Region_수원,Region_울산,Region_인천,Region_전남,Region_전라,Region_전북,Region_제주,Region_충남,Region_충북,Region_충청
0,True,False,False,False,False,True,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
1,False,False,True,False,False,True,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
2,False,False,True,False,False,True,False,True,False,False,...,False,False,False,False,False,True,False,False,False,False
3,False,False,True,False,False,True,False,True,False,False,...,False,False,True,False,False,False,False,False,False,False
4,False,False,True,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,False,False,True,False,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9996,False,False,True,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
9997,False,False,True,False,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9998,False,False,True,False,False,True,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
9999,False,False,True,False,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [15]:
target_df = df['Final_Price']
target_df

0        48000.0
1        80000.0
2       150000.0
3        70000.0
4       171000.0
          ...
9995    135000.0
9996    130000.0
9997     63000.0
9998     70000.0
9999    127500.0
Name: Final_Price, Length: 10000, dtype: float64