In [29]:
import gzip
import pandas as pd

with gzip.open('performance_data.csv.gz', 'rt', encoding='utf-8') as f:
    data = pd.read_csv(f)

# 데이터프레임 출력
print(data.head())

                   PBLPRFR_NM PBLPRFR_PLACE_NM  PBLPRFR_DE  PBLPRFR_TIME  \
0  국립합창단 창단 50주년 기념 <한국합창교향곡>             콘서트홀    20230321        193000
1  국립합창단 창단 50주년 기념 <한국합창교향곡>             콘서트홀    20230321        193000
2  국립합창단 창단 50주년 기념 <한국합창교향곡>             콘서트홀    20230321        193000
3  국립합창단 창단 50주년 기념 <한국합창교향곡>             콘서트홀    20230321        193000
4  국립합창단 창단 50주년 기념 <한국합창교향곡>             콘서트홀    20230321        193000

  GENRE_NM                             PRC_CN  \
0       합창  R석 30000원 / S석 20000원 / A석 10000원
1       합창  R석 30000원 / S석 20000원 / A석 10000원
2       합창  R석 30000원 / S석 20000원 / A석 10000원
3       합창  R석 30000원 / S석 20000원 / A석 10000원
4       합창  R석 30000원 / S석 20000원 / A석 10000원

                                            HMPG_URL  SETLE_DE  SETLE_TIME  \
0  https://www.sac.or.kr/site/main/show/show_view...  20230308       70000
1  https://www.sac.or.kr/site/main/show/show_view...  20230221      190000
2  https://www.sac.or.kr/site/main/show/show_view...  20230228       10000
3  https://www.sac.or.kr/site/main/show/show_view...  20230226      100000
4  https://www.sac.or.kr/site/main/show/show_view...  20230320      230000

     DSCNT_CN  SETLE_PRICE MBER_GRAD_NM BN_VALUE SEXDSTN_VALUE OC_AREA_NM  \
0       기타 할인      24000.0           무료      50대             F         경기
1       기타 할인      10000.0           블루      60대             M         서울
2       기타 할인       8000.0           무료      60대             M         서울
3       기타 할인      24000.0           무료      40대             M         서울
4  골드회원 할인40%      18000.0           골드      60대             F         서울

  RFN_AT
0      N
1      N
2      N
3      N
4      N

In [30]:
data.head()

,PBLPRFR_NM,PBLPRFR_PLACE_NM,PBLPRFR_DE,PBLPRFR_TIME,GENRE_NM,PRC_CN,HMPG_URL,SETLE_DE,SETLE_TIME,DSCNT_CN,SETLE_PRICE,MBER_GRAD_NM,BN_VALUE,SEXDSTN_VALUE,OC_AREA_NM,RFN_AT
0,국립합창단 창단 50주년 기념 <한국합창교향곡>,콘서트홀,20230321,193000,합창,R석 30000원 / S석 20000원 / A석 10000원,https://www.sac.or.kr/site/main/show/show_view...,20230308,70000,기타 할인,24000.0,무료,50대,F,경기,N
1,국립합창단 창단 50주년 기념 <한국합창교향곡>,콘서트홀,20230321,193000,합창,R석 30000원 / S석 20000원 / A석 10000원,https://www.sac.or.kr/site/main/show/show_view...,20230221,190000,기타 할인,10000.0,블루,60대,M,서울,N
2,국립합창단 창단 50주년 기념 <한국합창교향곡>,콘서트홀,20230321,193000,합창,R석 30000원 / S석 20000원 / A석 10000원,https://www.sac.or.kr/site/main/show/show_view...,20230228,10000,기타 할인,8000.0,무료,60대,M,서울,N
3,국립합창단 창단 50주년 기념 <한국합창교향곡>,콘서트홀,20230321,193000,합창,R석 30000원 / S석 20000원 / A석 10000원,https://www.sac.or.kr/site/main/show/show_view...,20230226,100000,기타 할인,24000.0,무료,40대,M,서울,N
4,국립합창단 창단 50주년 기념 <한국합창교향곡>,콘서트홀,20230321,193000,합창,R석 30000원 / S석 20000원 / A석 10000원,https://www.sac.or.kr/site/main/show/show_view...,20230320,230000,골드회원 할인40%,18000.0,골드,60대,F,서울,N

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3664663 entries, 0 to 3664662
Data columns (total 16 columns):
 #   Column            Dtype
---  ------            -----
 0   PBLPRFR_NM        object
 1   PBLPRFR_PLACE_NM  object
 2   PBLPRFR_DE        int64
 3   PBLPRFR_TIME      int64
 4   GENRE_NM          object
 5   PRC_CN            object
 6   HMPG_URL          object
 7   SETLE_DE          int64
 8   SETLE_TIME        int64
 9   DSCNT_CN          object
 10  SETLE_PRICE       float64
 11  MBER_GRAD_NM      object
 12  BN_VALUE          object
 13  SEXDSTN_VALUE     object
 14  OC_AREA_NM        object
 15  RFN_AT            object
dtypes: float64(1), int64(4), object(11)
memory usage: 447.3+ MB

In [32]:
data.describe()

         PBLPRFR_DE  PBLPRFR_TIME      SETLE_DE    SETLE_TIME   SETLE_PRICE
count  3.664663e+06  3.664663e+06  3.664663e+06  3.664663e+06  3.664663e+06
mean   2.018789e+07  1.757394e+05  2.018691e+07  1.242456e+05  5.648740e+04
std    2.854110e+04  2.864481e+04  2.883597e+04  6.205054e+04  5.400857e+04
min    2.015010e+07  0.000000e+00  2.014092e+07  0.000000e+00  0.000000e+00
25%    2.016080e+07  1.500000e+05  2.016060e+07  9.000000e+04  2.000000e+04
50%    2.018113e+07  1.930000e+05  2.018101e+07  1.400000e+05  4.000000e+04
75%    2.022033e+07  2.000000e+05  2.022022e+07  1.600000e+05  8.000000e+04
max    2.023123e+07  2.200000e+05  2.023123e+07  2.300000e+05  5.500000e+05

In [33]:
# Extract year from PBLPRFR_DE data
data['PBLPRFR_DE'] = data['PBLPRFR_DE'].astype(str)
data['Year'] = data['PBLPRFR_DE'].str[:4]

In [34]:
data['Year'].unique()

array(['2023', '2022', '2021', '2020', '2019', '2018', '2017', '2016',
       '2015'], dtype=object)

In [35]:
# Extract month from PBLPRFR_DE data
data['Month'] = data['PBLPRFR_DE'].str[4:6]

In [36]:
data['Month'].unique()

array(['03', '02', '12', '11', '01', '10', '08', '07', '06', '05', '09',
       '04'], dtype=object)

In [37]:
data.drop(columns='PBLPRFR_DE', inplace=True)
data.head()

,PBLPRFR_NM,PBLPRFR_PLACE_NM,PBLPRFR_TIME,GENRE_NM,PRC_CN,HMPG_URL,SETLE_DE,SETLE_TIME,DSCNT_CN,SETLE_PRICE,MBER_GRAD_NM,BN_VALUE,SEXDSTN_VALUE,OC_AREA_NM,RFN_AT,Year,Month
0,국립합창단 창단 50주년 기념 <한국합창교향곡>,콘서트홀,193000,합창,R석 30000원 / S석 20000원 / A석 10000원,https://www.sac.or.kr/site/main/show/show_view...,20230308,70000,기타 할인,24000.0,무료,50대,F,경기,N,2023,03
1,국립합창단 창단 50주년 기념 <한국합창교향곡>,콘서트홀,193000,합창,R석 30000원 / S석 20000원 / A석 10000원,https://www.sac.or.kr/site/main/show/show_view...,20230221,190000,기타 할인,10000.0,블루,60대,M,서울,N,2023,03
2,국립합창단 창단 50주년 기념 <한국합창교향곡>,콘서트홀,193000,합창,R석 30000원 / S석 20000원 / A석 10000원,https://www.sac.or.kr/site/main/show/show_view...,20230228,10000,기타 할인,8000.0,무료,60대,M,서울,N,2023,03
3,국립합창단 창단 50주년 기념 <한국합창교향곡>,콘서트홀,193000,합창,R석 30000원 / S석 20000원 / A석 10000원,https://www.sac.or.kr/site/main/show/show_view...,20230226,100000,기타 할인,24000.0,무료,40대,M,서울,N,2023,03
4,국립합창단 창단 50주년 기념 <한국합창교향곡>,콘서트홀,193000,합창,R석 30000원 / S석 20000원 / A석 10000원,https://www.sac.or.kr/site/main/show/show_view...,20230320,230000,골드회원 할인40%,18000.0,골드,60대,F,서울,N,2023,03

In [38]:
data.drop(['HMPG_URL', 'PBLPRFR_TIME', 'DSCNT_CN', 'SETLE_DE', 'SETLE_TIME'], axis=1, inplace=True)

In [51]:
data.rename(columns={'PBLPRFR_NM': 'Performance_Name', 'PBLPRFR_PLACE_NM': 'Venue', 'GENRE_NM': 'Genre', 'PRC_CN': 'Price_Details', 'SETLE_PRICE': 'Final_Price', 'MBER_GRAD_NM': 'Member_Grade', 'BN_VALUE': 'Age_Group', 'SEXDSTN_VALUE': 'Gender', 'OC_AREA_NM': 'Region', 'RFN_AT': 'Refund_Status', 'Year': 'Year', 'Month': 'Month'}, inplace=True)

In [52]:
data.head()

,Performance_Name,Venue,Genre,Price_Details,Final_Price,Member_Grade,Age_Group,Gender,Region,Refund_Status,Year,Month
0,국립합창단 창단 50주년 기념 <한국합창교향곡>,콘서트홀,합창,R석 30000원 / S석 20000원 / A석 10000원,24000.0,무료,50대,F,경기,N,2023,03
1,국립합창단 창단 50주년 기념 <한국합창교향곡>,콘서트홀,합창,R석 30000원 / S석 20000원 / A석 10000원,10000.0,블루,60대,M,서울,N,2023,03
2,국립합창단 창단 50주년 기념 <한국합창교향곡>,콘서트홀,합창,R석 30000원 / S석 20000원 / A석 10000원,8000.0,무료,60대,M,서울,N,2023,03
3,국립합창단 창단 50주년 기념 <한국합창교향곡>,콘서트홀,합창,R석 30000원 / S석 20000원 / A석 10000원,24000.0,무료,40대,M,서울,N,2023,03
4,국립합창단 창단 50주년 기념 <한국합창교향곡>,콘서트홀,합창,R석 30000원 / S석 20000원 / A석 10000원,18000.0,골드,60대,F,서울,N,2023,03

## Filtering data

In [53]:
#Filter only data from 2023 and 2022
filtered_data = data[data['Year'].isin(['2023', '2022'])]

In [54]:
filtered_data['Year'].unique()

array(['2023', '2022'], dtype=object)

In [55]:
filtered_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 977186 entries, 0 to 999999
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Performance_Name  977186 non-null  object
 1   Venue             977186 non-null  object
 2   Genre             977186 non-null  object
 3   Price_Details     962371 non-null  object
 4   Final_Price       977186 non-null  float64
 5   Member_Grade      977186 non-null  object
 6   Age_Group         977186 non-null  object
 7   Gender            977185 non-null  object
 8   Region            972741 non-null  object
 9   Refund_Status     977186 non-null  object
 10  Year              977186 non-null  object
 11  Month             977186 non-null  object
dtypes: float64(1), object(11)
memory usage: 96.9+ MB

In [56]:
filtered_data['Age_Group'].unique()

array(['50대', '60대', '40대', '20대', '70대이상', '30대', '10대이하', '모름'],
      dtype=object)

In [57]:
# Delete unknown data in age groups
filtered_data=filtered_data[filtered_data['Age_Group'] != '모름']

In [63]:
# Filter only data with refund status of 'N'
filtered_data=filtered_data[filtered_data['Refund_Status'] == 'N']
filtered_data['Refund_Status'].unique()

array(['N'], dtype=object)

In [60]:
# Drop null data
filtered_data.dropna(inplace=True)

In [61]:
filtered_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 545872 entries, 0 to 999998
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Performance_Name  545872 non-null  object
 1   Venue             545872 non-null  object
 2   Genre             545872 non-null  object
 3   Price_Details     545872 non-null  object
 4   Final_Price       545872 non-null  float64
 5   Member_Grade      545872 non-null  object
 6   Age_Group         545872 non-null  object
 7   Gender            545872 non-null  object
 8   Region            545872 non-null  object
 9   Refund_Status     545872 non-null  object
 10  Year              545872 non-null  object
 11  Month             545872 non-null  object
dtypes: float64(1), object(11)
memory usage: 54.1+ MB

In [65]:
# Filtering Genres to Musicals
filtered_data = filtered_data[data['Genre'].isin(['뮤지컬'])]

C:\Users\USER\AppData\Local\Temp\ipykernel_10872\4274051528.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered_data = filtered_data[data['Genre'].isin(['뮤지컬'])]

In [70]:
filtered_data.drop(columns=['Price_Details', 'Refund_Status'], inplace=True)

In [71]:
filtered_data.head()

,Performance_Name,Venue,Genre,Final_Price,Member_Grade,Age_Group,Gender,Region,Year,Month
938,뮤지컬 < 베토벤; Beethoven Secret >,오페라극장,뮤지컬,161500.0,골드,20대,M,전남,2023,03
939,뮤지컬 < 베토벤; Beethoven Secret >,오페라극장,뮤지컬,76000.0,골드,20대,M,전남,2023,03
940,뮤지컬 < 베토벤; Beethoven Secret >,오페라극장,뮤지컬,133000.0,그린,30대,F,전북,2023,03
943,뮤지컬 < 베토벤; Beethoven Secret >,오페라극장,뮤지컬,133000.0,골드,20대,M,전남,2023,03
945,뮤지컬 < 베토벤; Beethoven Secret >,오페라극장,뮤지컬,133000.0,골드,20대,M,전남,2023,03

## Data sampling

In [73]:
sampled_data = filtered_data.sample(n=10000, random_state=42)

In [74]:
sampled_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, 946665 to 395995
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Performance_Name  10000 non-null  object
 1   Venue             10000 non-null  object
 2   Genre             10000 non-null  object
 3   Final_Price       10000 non-null  float64
 4   Member_Grade      10000 non-null  object
 5   Age_Group         10000 non-null  object
 6   Gender            10000 non-null  object
 7   Region            10000 non-null  object
 8   Year              10000 non-null  object
 9   Month             10000 non-null  object
dtypes: float64(1), object(9)
memory usage: 859.4+ KB

In [75]:
sampled_data.head()

,Performance_Name,Venue,Genre,Final_Price,Member_Grade,Age_Group,Gender,Region,Year,Month
946665,뮤지컬 라이온 킹 인터내셔널 투어 - 서울,오페라극장,뮤지컬,180000.0,블루,40대,F,서울,2022,02
946517,뮤지컬 라이온 킹 인터내셔널 투어 - 서울,오페라극장,뮤지컬,171000.0,골드,60대,F,인천,2022,02
174334,뮤지컬 일 테노레 (IL TENORE),CJ 토월극장,뮤지컬,160000.0,무료,30대,F,인천,2023,12
537393,2022 뮤지컬 <브로드웨이42번가>,CJ 토월극장,뮤지컬,70000.0,무료,30대,M,경기,2022,12
654382,뮤지컬 < 베토벤; Beethoven Secret >,오페라극장,뮤지컬,88000.0,그린,40대,F,서울,2023,01

In [76]:
sampled_data.to_csv('musical_data.csv', index=False)