In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('play_data.csv')

In [ ]:
data.head()

,PBLPRFR_NM,PBLPRFR_PLACE_NM,PBLPRFR_DE,PBLPRFR_TIME,GENRE_NM,PRC_CN,HMPG_URL,SETLE_DE,SETLE_TIME,DSCNT_CN,SETLE_PRICE,MBER_GRAD_NM,BN_VALUE,SEXDSTN_VALUE,OC_AREA_NM,RFN_AT
0,국립합창단 창단 50주년 기념 <한국합창교향곡>,콘서트홀,20230321,193000,합창,R석 30000원 / S석 20000원 / A석 10000원,https://www.sac.or.kr/site/main/show/show_view...,20230308,70000,기타 할인,24000.0,무료,50대,F,경기,N
1,국립합창단 창단 50주년 기념 <한국합창교향곡>,콘서트홀,20230321,193000,합창,R석 30000원 / S석 20000원 / A석 10000원,https://www.sac.or.kr/site/main/show/show_view...,20230221,190000,기타 할인,10000.0,블루,60대,M,서울,N
2,국립합창단 창단 50주년 기념 <한국합창교향곡>,콘서트홀,20230321,193000,합창,R석 30000원 / S석 20000원 / A석 10000원,https://www.sac.or.kr/site/main/show/show_view...,20230228,10000,기타 할인,8000.0,무료,60대,M,서울,N
3,국립합창단 창단 50주년 기념 <한국합창교향곡>,콘서트홀,20230321,193000,합창,R석 30000원 / S석 20000원 / A석 10000원,https://www.sac.or.kr/site/main/show/show_view...,20230226,100000,기타 할인,24000.0,무료,40대,M,서울,N
4,국립합창단 창단 50주년 기념 <한국합창교향곡>,콘서트홀,20230321,193000,합창,R석 30000원 / S석 20000원 / A석 10000원,https://www.sac.or.kr/site/main/show/show_view...,20230320,230000,골드회원 할인40%,18000.0,골드,60대,F,서울,N

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3664663 entries, 0 to 3664662
Data columns (total 16 columns):
 #   Column            Dtype
---  ------            -----
 0   PBLPRFR_NM        object
 1   PBLPRFR_PLACE_NM  object
 2   PBLPRFR_DE        int64
 3   PBLPRFR_TIME      int64
 4   GENRE_NM          object
 5   PRC_CN            object
 6   HMPG_URL          object
 7   SETLE_DE          int64
 8   SETLE_TIME        int64
 9   DSCNT_CN          object
 10  SETLE_PRICE       float64
 11  MBER_GRAD_NM      object
 12  BN_VALUE          object
 13  SEXDSTN_VALUE     object
 14  OC_AREA_NM        object
 15  RFN_AT            object
dtypes: float64(1), int64(4), object(11)
memory usage: 447.3+ MB

In [5]:
data.describe()

         PBLPRFR_DE  PBLPRFR_TIME      SETLE_DE    SETLE_TIME   SETLE_PRICE
count  3.664663e+06  3.664663e+06  3.664663e+06  3.664663e+06  3.664663e+06
mean   2.018789e+07  1.757394e+05  2.018691e+07  1.242456e+05  5.648740e+04
std    2.854110e+04  2.864481e+04  2.883597e+04  6.205054e+04  5.400857e+04
min    2.015010e+07  0.000000e+00  2.014092e+07  0.000000e+00  0.000000e+00
25%    2.016080e+07  1.500000e+05  2.016060e+07  9.000000e+04  2.000000e+04
50%    2.018113e+07  1.930000e+05  2.018101e+07  1.400000e+05  4.000000e+04
75%    2.022033e+07  2.000000e+05  2.022022e+07  1.600000e+05  8.000000e+04
max    2.023123e+07  2.200000e+05  2.023123e+07  2.300000e+05  5.500000e+05

In [6]:
data['PBLPRFR_DE'] = data['PBLPRFR_DE'].astype(str)
data['YEAR'] = data['PBLPRFR_DE'].str[:4]

In [7]:
data.head()

,PBLPRFR_NM,PBLPRFR_PLACE_NM,PBLPRFR_DE,PBLPRFR_TIME,GENRE_NM,PRC_CN,HMPG_URL,SETLE_DE,SETLE_TIME,DSCNT_CN,SETLE_PRICE,MBER_GRAD_NM,BN_VALUE,SEXDSTN_VALUE,OC_AREA_NM,RFN_AT,YEAR
0,국립합창단 창단 50주년 기념 <한국합창교향곡>,콘서트홀,20230321,193000,합창,R석 30000원 / S석 20000원 / A석 10000원,https://www.sac.or.kr/site/main/show/show_view...,20230308,70000,기타 할인,24000.0,무료,50대,F,경기,N,2023
1,국립합창단 창단 50주년 기념 <한국합창교향곡>,콘서트홀,20230321,193000,합창,R석 30000원 / S석 20000원 / A석 10000원,https://www.sac.or.kr/site/main/show/show_view...,20230221,190000,기타 할인,10000.0,블루,60대,M,서울,N,2023
2,국립합창단 창단 50주년 기념 <한국합창교향곡>,콘서트홀,20230321,193000,합창,R석 30000원 / S석 20000원 / A석 10000원,https://www.sac.or.kr/site/main/show/show_view...,20230228,10000,기타 할인,8000.0,무료,60대,M,서울,N,2023
3,국립합창단 창단 50주년 기념 <한국합창교향곡>,콘서트홀,20230321,193000,합창,R석 30000원 / S석 20000원 / A석 10000원,https://www.sac.or.kr/site/main/show/show_view...,20230226,100000,기타 할인,24000.0,무료,40대,M,서울,N,2023
4,국립합창단 창단 50주년 기념 <한국합창교향곡>,콘서트홀,20230321,193000,합창,R석 30000원 / S석 20000원 / A석 10000원,https://www.sac.or.kr/site/main/show/show_view...,20230320,230000,골드회원 할인40%,18000.0,골드,60대,F,서울,N,2023

In [8]:
data.tail()

,PBLPRFR_NM,PBLPRFR_PLACE_NM,PBLPRFR_DE,PBLPRFR_TIME,GENRE_NM,PRC_CN,HMPG_URL,SETLE_DE,SETLE_TIME,DSCNT_CN,SETLE_PRICE,MBER_GRAD_NM,BN_VALUE,SEXDSTN_VALUE,OC_AREA_NM,RFN_AT,YEAR
3664658,로열 콘세르트허바우 오케스트라(4.23),콘서트홀,20150423,200000,클래식,R석 38만원 / S석 28만원 / A석 20만원 / B석 15만원 / C석 8만원,https://www.sac.or.kr/site/main/show/show_view...,20141015,100000,기타 할인,68000.0,골드,30대,M,서울,N,2015
3664659,로열 콘세르트허바우 오케스트라(4.23),콘서트홀,20150423,200000,클래식,R석 38만원 / S석 28만원 / A석 20만원 / B석 15만원 / C석 8만원,https://www.sac.or.kr/site/main/show/show_view...,20150326,20000,기타 할인,150000.0,블루,50대,F,서울,Y,2015
3664660,로열 콘세르트허바우 오케스트라(4.23),콘서트홀,20150423,200000,클래식,R석 38만원 / S석 28만원 / A석 20만원 / B석 15만원 / C석 8만원,https://www.sac.or.kr/site/main/show/show_view...,20150411,30000,기타 할인,200000.0,블루,50대,F,서울,Y,2015
3664661,로열 콘세르트허바우 오케스트라(4.23),콘서트홀,20150423,200000,클래식,R석 38만원 / S석 28만원 / A석 20만원 / B석 15만원 / C석 8만원,https://www.sac.or.kr/site/main/show/show_view...,20150411,30000,기타 할인,200000.0,블루,50대,F,서울,Y,2015
3664662,로열 콘세르트허바우 오케스트라(4.23),콘서트홀,20150423,200000,클래식,R석 38만원 / S석 28만원 / A석 20만원 / B석 15만원 / C석 8만원,https://www.sac.or.kr/site/main/show/show_view...,20150411,30000,기타 할인,200000.0,블루,50대,F,서울,Y,2015

In [9]:
data['YEAR'].unique()

array(['2023', '2022', '2021', '2020', '2019', '2018', '2017', '2016',
       '2015'], dtype=object)

In [10]:
#Filter only data from 2023 and 2022
filtered_data = data[data['YEAR'].isin(['2023', '2022'])]

In [11]:
filtered_data.tail()

,PBLPRFR_NM,PBLPRFR_PLACE_NM,PBLPRFR_DE,PBLPRFR_TIME,GENRE_NM,PRC_CN,HMPG_URL,SETLE_DE,SETLE_TIME,DSCNT_CN,SETLE_PRICE,MBER_GRAD_NM,BN_VALUE,SEXDSTN_VALUE,OC_AREA_NM,RFN_AT,YEAR
999995,KBS교향악단 제778회 정기연주회,콘서트홀,20220526,200000,교향곡,R석 8만원 / S석 6만원 / A석 3만원 / B석 1만원,https://www.sac.or.kr/site/main/show/show_view...,20220504,10000,골드회원 할인10%,54000.0,골드,50대,F,서울,Y,2022
999996,KBS교향악단 제778회 정기연주회,콘서트홀,20220526,200000,교향곡,R석 8만원 / S석 6만원 / A석 3만원 / B석 1만원,https://www.sac.or.kr/site/main/show/show_view...,20220509,160000,골드회원 할인10%,27000.0,골드,50대,F,서울,N,2022
999997,KBS교향악단 제778회 정기연주회,콘서트홀,20220526,200000,교향곡,R석 8만원 / S석 6만원 / A석 3만원 / B석 1만원,https://www.sac.or.kr/site/main/show/show_view...,20211217,160000,골드회원 할인10%,27000.0,골드,50대,F,서울,Y,2022
999998,KBS교향악단 제778회 정기연주회,콘서트홀,20220526,200000,교향곡,R석 8만원 / S석 6만원 / A석 3만원 / B석 1만원,https://www.sac.or.kr/site/main/show/show_view...,20211219,150000,기타 할인,10000.0,그린,60대,F,서울,N,2022
999999,KBS교향악단 제778회 정기연주회,콘서트홀,20220526,200000,교향곡,R석 8만원 / S석 6만원 / A석 3만원 / B석 1만원,https://www.sac.or.kr/site/main/show/show_view...,20220510,210000,기타 할인,10000.0,무료,50대,M,경기,Y,2022

In [12]:
filtered_data['YEAR'].unique()

array(['2023', '2022'], dtype=object)

In [13]:
filtered_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 977186 entries, 0 to 999999
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   PBLPRFR_NM        977186 non-null  object
 1   PBLPRFR_PLACE_NM  977186 non-null  object
 2   PBLPRFR_DE        977186 non-null  object
 3   PBLPRFR_TIME      977186 non-null  int64
 4   GENRE_NM          977186 non-null  object
 5   PRC_CN            962371 non-null  object
 6   HMPG_URL          977186 non-null  object
 7   SETLE_DE          977186 non-null  int64
 8   SETLE_TIME        977186 non-null  int64
 9   DSCNT_CN          977186 non-null  object
 10  SETLE_PRICE       977186 non-null  float64
 11  MBER_GRAD_NM      977186 non-null  object
 12  BN_VALUE          977186 non-null  object
 13  SEXDSTN_VALUE     977185 non-null  object
 14  OC_AREA_NM        972741 non-null  object
 15  RFN_AT            977186 non-null  object
 16  YEAR              977186 non-null  object
dtypes: float64(1), int64(3), object(13)
memory usage: 134.2+ MB

In [14]:
filtered_data = filtered_data[data['GENRE_NM'].isin(['뮤지컬', '연극'])]

C:\Users\USER\AppData\Local\Temp\ipykernel_10088\2985965826.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered_data = filtered_data[data['GENRE_NM'].isin(['뮤지컬', '연극'])]

In [15]:
filtered_data['BN_VALUE'].unique()

array(['50대', '30대', '20대', '10대이하', '40대', '60대', '70대이상', '모름'],
      dtype=object)

In [16]:
filtered_data=filtered_data[filtered_data['BN_VALUE'] != '모름']

In [17]:
filtered_data.tail()

,PBLPRFR_NM,PBLPRFR_PLACE_NM,PBLPRFR_DE,PBLPRFR_TIME,GENRE_NM,PRC_CN,HMPG_URL,SETLE_DE,SETLE_TIME,DSCNT_CN,SETLE_PRICE,MBER_GRAD_NM,BN_VALUE,SEXDSTN_VALUE,OC_AREA_NM,RFN_AT,YEAR
998627,연극 <돌아온다>,CJ 토월극장,20220527,140000,연극,R석 7만원 / S석 5만5천원 / A석 4만원,https://www.sac.or.kr/site/main/show/show_view...,20220523,170000,기타 할인,70000.0,무료,40대,F,경기,N,2022
998628,연극 <돌아온다>,CJ 토월극장,20220527,140000,연극,R석 7만원 / S석 5만5천원 / A석 4만원,https://www.sac.or.kr/site/main/show/show_view...,20220425,130000,골드회원 할인30%,49000.0,골드,40대,F,서울,Y,2022
998629,연극 <돌아온다>,CJ 토월극장,20220527,140000,연극,R석 7만원 / S석 5만5천원 / A석 4만원,https://www.sac.or.kr/site/main/show/show_view...,20220419,110000,기타 할인,49000.0,골드,40대,F,서울,N,2022
998630,연극 <돌아온다>,CJ 토월극장,20220527,140000,연극,R석 7만원 / S석 5만5천원 / A석 4만원,https://www.sac.or.kr/site/main/show/show_view...,20220419,110000,기타 할인,49000.0,골드,40대,F,서울,N,2022
998631,연극 <돌아온다>,CJ 토월극장,20220527,140000,연극,R석 7만원 / S석 5만5천원 / A석 4만원,https://www.sac.or.kr/site/main/show/show_view...,20220427,100000,골드회원 할인30%,49000.0,골드,40대,M,서울,N,2022

In [18]:
filtered_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 232555 entries, 635 to 998631
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   PBLPRFR_NM        232555 non-null  object
 1   PBLPRFR_PLACE_NM  232555 non-null  object
 2   PBLPRFR_DE        232555 non-null  object
 3   PBLPRFR_TIME      232555 non-null  int64
 4   GENRE_NM          232555 non-null  object
 5   PRC_CN            232465 non-null  object
 6   HMPG_URL          232555 non-null  object
 7   SETLE_DE          232555 non-null  int64
 8   SETLE_TIME        232555 non-null  int64
 9   DSCNT_CN          232555 non-null  object
 10  SETLE_PRICE       232555 non-null  float64
 11  MBER_GRAD_NM      232555 non-null  object
 12  BN_VALUE          232555 non-null  object
 13  SEXDSTN_VALUE     232555 non-null  object
 14  OC_AREA_NM        231294 non-null  object
 15  RFN_AT            232555 non-null  object
 16  YEAR              232555 non-null  object
dtypes: float64(1), int64(3), object(13)
memory usage: 31.9+ MB

In [19]:
filtered_data['RFN_AT'].unique()

array(['N', 'Y'], dtype=object)

In [20]:
filtered_data=filtered_data[filtered_data['RFN_AT'] == 'N']

In [21]:
filtered_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 114119 entries, 635 to 998631
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   PBLPRFR_NM        114119 non-null  object
 1   PBLPRFR_PLACE_NM  114119 non-null  object
 2   PBLPRFR_DE        114119 non-null  object
 3   PBLPRFR_TIME      114119 non-null  int64
 4   GENRE_NM          114119 non-null  object
 5   PRC_CN            114069 non-null  object
 6   HMPG_URL          114119 non-null  object
 7   SETLE_DE          114119 non-null  int64
 8   SETLE_TIME        114119 non-null  int64
 9   DSCNT_CN          114119 non-null  object
 10  SETLE_PRICE       114119 non-null  float64
 11  MBER_GRAD_NM      114119 non-null  object
 12  BN_VALUE          114119 non-null  object
 13  SEXDSTN_VALUE     114119 non-null  object
 14  OC_AREA_NM        113569 non-null  object
 15  RFN_AT            114119 non-null  object
 16  YEAR              114119 non-null  object
dtypes: float64(1), int64(3), object(13)
memory usage: 15.7+ MB

In [22]:
sampled_data = filtered_data.sample(n=10000, random_state=42)

In [23]:
sampled_data.tail()

,PBLPRFR_NM,PBLPRFR_PLACE_NM,PBLPRFR_DE,PBLPRFR_TIME,GENRE_NM,PRC_CN,HMPG_URL,SETLE_DE,SETLE_TIME,DSCNT_CN,SETLE_PRICE,MBER_GRAD_NM,BN_VALUE,SEXDSTN_VALUE,OC_AREA_NM,RFN_AT,YEAR
270510,유니버설발레단 <백조의 호수>,오페라극장,20230609,193000,뮤지컬,R석 120000원 / S석 90000원 / A석 60000원 / B석 30000원...,https://www.sac.or.kr/site/main/show/show_view...,20230419,90000,기타 할인,42000.0,무료,50대,M,경기,N,2023
374753,뮤지컬 < 베토벤; Beethoven Secret >,오페라극장,20230324,193000,뮤지컬,R석 17만원 / S석 14만원 / A석 11만원 / B석 8만원,https://www.sac.or.kr/site/main/show/show_view...,20230220,160000,그린회원 할인5%,133000.0,그린,40대,F,부산,N,2023
406796,한화와 함께하는 2023 교향악축제- 서울립교향악단(6.17),콘서트홀,20230617,170000,뮤지컬,R석 50000원 / S석 40000원 / A석 30000원 / B석 10000원 ...,https://www.sac.or.kr/site/main/show/show_view...,20230504,150000,싹틔우미 할인40%,24000.0,싹틔우미,20대,F,부산,N,2023
415506,유니버설발레단 <백조의 호수>,오페라극장,20230610,190000,뮤지컬,R석 120000원 / S석 90000원 / A석 60000원 / B석 30000원...,https://www.sac.or.kr/site/main/show/show_view...,20230609,90000,골드회원 할인25%,67500.0,골드,40대,F,서울,N,2023
110844,뮤지컬 < 베토벤; Beethoven Secret >,오페라극장,20230129,160000,뮤지컬,R석 17만원 / S석 14만원 / A석 11만원 / B석 8만원,https://www.sac.or.kr/site/main/show/show_view...,20221213,140000,기타 할인,170000.0,그린,30대,M,경기,N,2023

In [24]:
sampled_data = sampled_data.dropna()

In [25]:
sampled_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9943 entries, 104885 to 110844
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   PBLPRFR_NM        9943 non-null   object
 1   PBLPRFR_PLACE_NM  9943 non-null   object
 2   PBLPRFR_DE        9943 non-null   object
 3   PBLPRFR_TIME      9943 non-null   int64
 4   GENRE_NM          9943 non-null   object
 5   PRC_CN            9943 non-null   object
 6   HMPG_URL          9943 non-null   object
 7   SETLE_DE          9943 non-null   int64
 8   SETLE_TIME        9943 non-null   int64
 9   DSCNT_CN          9943 non-null   object
 10  SETLE_PRICE       9943 non-null   float64
 11  MBER_GRAD_NM      9943 non-null   object
 12  BN_VALUE          9943 non-null   object
 13  SEXDSTN_VALUE     9943 non-null   object
 14  OC_AREA_NM        9943 non-null   object
 15  RFN_AT            9943 non-null   object
 16  YEAR              9943 non-null   object
dtypes: float64(1), int64(3), object(13)
memory usage: 1.4+ MB

In [26]:
cleaned_data = sampled_data.drop(['HMPG_URL', 'DSCNT_CN', 'PRC_CN', 'SETLE_DE', 'SETLE_TIME','RFN_AT', ], axis=1)

In [27]:
cleaned_data.head()

,PBLPRFR_NM,PBLPRFR_PLACE_NM,PBLPRFR_DE,PBLPRFR_TIME,GENRE_NM,SETLE_PRICE,MBER_GRAD_NM,BN_VALUE,SEXDSTN_VALUE,OC_AREA_NM,YEAR
104885,뮤지컬 < 베토벤; Beethoven Secret >,오페라극장,20230202,193000,뮤지컬,161500.0,그린,20대,F,경기,2023
288667,2023 예술의전당 토월정통연극 <오셀로>,CJ 토월극장,20230527,190000,연극,30000.0,무료,40대,F,서울,2023
852130,연극 <돌아온다>,CJ 토월극장,20220519,193000,연극,49500.0,무료,30대,F,서울,2022
40719,연극 <셰익스피어 인 러브>,CJ 토월극장,20230301,140000,연극,93500.0,골드,60대,F,서울,2023
414282,유니버설발레단 <백조의 호수>,오페라극장,20230611,140000,뮤지컬,63000.0,싹틔우미,20대,F,경기,2023

In [28]:
cleaned_data.to_csv('cleaned_data_muPl3.csv', index=False)

In [30]:
cleaned_data['SETLE_PRICE'].describe()

count      9943.000000
mean      90709.644976
std       52470.659273
min        5000.000000
25%       40000.000000
50%       90000.000000
75%      140000.000000
max      200000.000000
Name: SETLE_PRICE, dtype: float64